<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<h1>Hello World!!!</h1>

<button onclick="saveMem()">회원가입</button>
<button onclick="loginMemq()">로그인</button>
<button onclick="loginListq()">회원목록</button>
<br>
<button onclick="saveReq()">글작성</button>

<button onclick="listReq()">글목록</button>

<button onclick="pagingReq()">페이징목록</button>

<script>


  const saveReq =() => {
    location.href="/board/save";
  }

    const saveMem =() => {
    location.href="/member/save";
  }

    const loginMemq =() => {
    location.href="/member/login";
  }

      const loginListq =() => {
    location.href="/member";
  }
      const listReq =() => {
    location.href="/board/";
  }
    const pagingReq =() => {
    location.href="/board/paging";
  }
</script>

</body>
</html>